html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-color: #C2DFFF;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
    text-transform: uppercase;
}

.nav-link {
    font-size: 1.1em !important;
}

.back-link {
    font-size: 1.195em; /* 14px/16=0.875em */
    color: #0B3B24;
    padding: 5px 0px 20px 15px;
}

.back-div {
    display: block;
}

.header a h4{
    width: 100%;
    background: #0B3B24;
    opacity: 0.8;
    position: fixed;
    font-size: 20px;
    padding: 0 10px 10px 10px;
}

.header {
    height:auto;
}

a.header-top {
    align: center;
    color: lightgrey;
}

.container {
    margin-top: 80px;
}

.submit-button {
    float: center;
}

.search {
    width: 100%;
}

a.link {
    word-break: break-all;
    word-wrap: break-word;
    width: 95%;
}

.padding {
    padding-bottom: 2rem;
}
a {
    color: #0020C2;
}
a:hover {
    text-decoration: none;
}