{% extends 'links/base.html' %}
{% block content %}
<div class="container">
    <h2>About</h2>
    <p class="lead">Linkland - it is a source where you can store your http-links. To add a new link, you can click on
    <a href="{% url 'add' %}" class="link"><i class="fas fa-plus"></i></a> icon and fill the form fields related.
    On account's page all links are grouped by its tags. Also links can be found with the keywords and using a search form
    at the top of the left.
    </p>

</div>

{% endblock %}