{% extends 'links/base.html' %}
{% block content %}
<div class="container">
    <h2>О проекте</h2>
    <p class="lead">Linkland - это ресурс, где можно хранить свои ссылки на интересные материалы, заметки, файлы.
    Для создания ссылки, необходимо кликнуть на значок <a href="{% url 'add' %}" class="link"><i class="fas fa-plus"></i></a>, и заполнить поля формы. На страницы профиля все ссылки сгруппированы
    по ключевым словам (тегам), также можно воспользоваться поиском из поля формы на страницы профиля (поиск осуществляется
    по уже сохраненным на своей странице ссылкам.
    </p>

</div>

{% endblock %}