{% load static %}
<html lang="ru">
<head>
    <title>Коллекция ваших интересных ссылок</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div class="header">
    {% if user.is_authenticated %}
    <p>Добро пожаловать, {{user }}!    <a href="{% url 'logout' %}">Выйти</a></p>

    {% endif %}


</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>Поиск по #хештегам</p>
            <p>Поле для формы</p>
            <p>список по категориям</p>


        </div>
        <div class="col-sm-4">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-sm-4">Реклама</div>

</div>
</body>
</html>