{% load static %}
<html lang="ru">
<head>
    <title>Коллекция ваших интересных ссылок</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div class="header">
    <div class="row">
        <div class="col">
    {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" align="right" class="header-top"><h4><br>ツ {{user }}&nbsp;выйти</b></h4></a>


    {% endif %}
    </div>
</div>
</div>

            {% block content %}
            {% endblock %}
</body>
</html>