{% load static %}
<html lang="ru">
<head>
    <title>Коллекция ваших интересных ссылок</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div class="header">
    {% if user.is_authenticated %}
    <p>Добро пожаловать, {{user }}!    <a href="{% url 'logout' %}">Выйти</a></p>

    {% endif %}


</div>

            {% block content %}
            {% endblock %}
</body>
</html>