{% extends 'links/base.html' %}
{% block content %}
<div class="container-fluid  padding">
        <div class="row welcome text-center">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4" style="padding-top: 2rem; ">
                {% if user.is_authenticated %}
                <br>
                <h5>Добро пожаловать, {{user}}!</h5>
                <a class="lead" href="{% url 'userpage' %}"><i class="far fa-address-book"></i> Перейти в акаунт</a>
                {% else %}
                <h4>Зарегистрируйтесь, чтобы продолжить</h4>
                <a href="{% url 'signup' %}"><i class="fas fa-user-plus"></i> Зарегистрироваться</a>
                <hr>
                <h5>Или войдите, используя свой логин или пароль</h5>
                <a href="{% url 'login' %}"><i class="fas fa-walking"></i><i class="fas fa-door-open"></i> Войти</a>
                {% endif %}
            </div>
        </div>
    <div style="height: 25%;">

    </div>
</div>
<footer>
        <div class="navbar fixed-bottom text-center">
            <div class="navbar-inner">
                <div class="container">
                    <p>
                        Created on Django <i class="fas fa-code"></i>
                    </p>
                </div>
            </div>
        </div>

</footer>

{% endblock %}