{% extends 'links/base.html' %}
{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                {% if user.is_authenticated %}
                <p>Добро пожаловать, {{user}}!</p>
                <a href="{% url 'userpage' %}">Перейти в акаунт</a>
                {% else %}
                <h3>Зарегистрируйтесь, чтобы продолжить</h3>
                <a href="{% url 'signup' %}">Зарегистрироваться</a>
                <h2>Или войдите, используя свой логин или пароль</h2>
                <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </div>
            <div class="col-sm-4">Реклама</div>
        </div>
    </div>
</div>
{% endblock %}