{% extends 'links/base.html' %}


{% block content %}
{% if user.is_authenticated %}
<div class="content">
    <a href=#>Добавить</a>

    {% for link in links %}
        <div class="links-tab">
            <h4><a href={{ link.text }} target="_blank"> {{ link.title }}</a></h4>
            <p>(текст ссылки: {{link.text}})</p>
            <small>added: {{ link.created_date }}</small>
        </div>
    {% endfor %}
</div>
{%else %}
<h3>Авторизируйтесь, чтобы пользоваться сайтом.</h3>
{% endif %}
{% endblock %}
