{% extends 'links/base.html' %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <a href="{% url 'add' %}">Добавить</a>

    {% for link in links %}
        <div class="links-tab">
            <h4><a href={{ link.text }} target="_blank"> {{ link.title }}</a></h4>
            <p>(текст ссылки: <a href={{link.text}} target="_blank"> {{link.text}})</a></p>
            <small>добавлена: {{ link.created_date }} </small>
            <small><a href="{% url 'remove' link.pk %}">Удалить</a></small>
        </div>
    {% endfor %}
</div>
{%else %}
<h3>Авторизируйтесь, чтобы пользоваться сайтом.</h3>
{% endif %}
{% endblock %}
