{% extends 'links/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row padding">
        <div class="col-12">
    <h2>Регистрация нового пользователя</h2>
    <div class="mc-field-group form-control">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="button btn btn-danger btn-lg">Создать</button>
        </form>
    </div>
    </div>
    </div>
 </div>
{% endblock %}