{% extends 'links/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container" align="center">
  <form class="form-horizontal" method="post" id="loginform">
            {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-6" for="id_username" align="left"><i class="fas fa-user"></i> Пользователь:</label>
      <div class="col-sm-6">{{ form.username }}</div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="id_password" align="left"><i class="fas fa-key"></i> Пароль:</label>
      <div class="col-sm-6 ">{{ form.password }}</div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-6">
        <div class="checkbox" align="left">
          <label><input type="checkbox" name="remember"> Запомнить меня </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-6" align="left">
        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function (){
  $("#loginform").find("input").each(function () {
    if ($(this).attr("name")!== "remember") $(this).addClass("form-control");
  })
  })
</script>
{% endblock %}